.about {
  padding-top: 79px;
  padding-bottom: 71px;
}

.about__title {
  margin-bottom: 16px;
}

.about__text {
  width: calc(1080 / 1600 * 100%);
}

@media (max-width: 1024px) {
  .about {
    padding-top: 81px;
    padding-bottom: 62px;
  }

  .about__text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 78px;
    padding-bottom: 71px;
  }
}

@media (max-width: 576px) {
  .about {
    padding-top: 50px;
    padding-bottom: 38px;
  }

  .about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }
}
