.contacts {
  padding-top: 45px;
  padding-bottom: 38px;
  border-top: 1px solid var(--grey-li);
}

.contacts__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* text-align: center; */
}

.contacts__address {
  display: flex;
  flex-direction: column;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__list-tel {
  display: flex;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: -1px;
}

.contacts__add {
  font-style: normal;
  line-height: 150%;
}

.form-input {
  padding: 13px 25px;
  min-width: 268px;
  margin-right: 20px;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--black-li);
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.form-input:focus-visible {
  outline: none;
}

.form-input:hover {
  background-color: var(--grey);
}

.form-input:active {
  background-color: var(--white);
}

.form-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 330px;
  padding: 12px 37px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  color: var(--violet-two);
  background-color: var(--white);
  border-radius: 100px;
  border: 2px solid var(--violet-two);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

.form-btn::after {
  content: "";
  position: absolute;
  inset: -10px;
  border: 1px solid transparent;
  border-radius: 100px;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-btn:focus {
  outline: none;
}

.form-btn:focus-visible:not(:active):not(:hover)::after {
  border-color: var(--violet-two);
}

.form-btn:hover {
  color: var(--white);
  background-color: var(--violet-two);
  border-color: var(--violet-three);
}

.form-btn:active {
  color: var(--white);
  background-color: var(--violet);
  border-color: var(--violet-three);
}

.form-span-small {
  display: none;
}

.contacts-subtitle-two {
  margin-bottom: 7px;
}

.contacts__item:not(:last-child) {
  margin-right: 19px;
}

.contacts__link {
  display: flex;
  flex-wrap: wrap;
  outline: none;
}

.contacts__link svg {
  outline: none;
  border: 2px solid transparent;
  border-radius: 360px;
  transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.contacts__link:focus-visible svg {
  opacity: 0.5;
  outline: none;
}

.contacts__link:hover svg {
  opacity: 0.5;
}

.contacts__link:active:not(:focus-visible :hover) svg {
  opacity: 1;
  border-color: var(--violet-two);
}

@media (max-width: 1557px) {
  .contacts {
    padding-top: 40px;
    padding-bottom: 43px;
  }

  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts-subtitle {
    margin-bottom: 10px;
  }

  .contacts__address {
    margin-bottom: 27px;
  }

  .contacts__add {
    margin-bottom: 5px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


  .contacts__form {
    margin-bottom: 28px;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .contacts__form {
    margin-bottom: 27px;
  }
  .form {
    gap: 10px;
  }

  .form-input {
    display: inline-flex;
    min-width: 321px;
    padding: 17px 33px;
    margin-bottom: 12px;
  }

  .form-input:not(:last-child) {
    margin-right: 10px;
  }

  .form-btn {
    max-width: 315px;
    padding: 11px 27px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2px;
  }
}

@media (max-width: 576px) {
  .contacts {
    padding-top: 21px;
    padding-bottom: 50px;
    border-top: 0;
  }

  .contacts__address {
    margin-bottom: 17px;
  }

  .contacts__form {
    display: flex;
    flex-direction: column;
    max-width: 290px;
    margin-bottom: 16px;
  }

  .form-input {
    display: inline-flex;
    min-width: 290px;
    margin-bottom: 21px;
    padding: 3px 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .form-btn {
    min-width: 128px;
    padding: 10px 28px;
  }

  .form-span {
    display: none;
  }

  .form-span-small {
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .contacts-subtitle {
    margin-bottom: 3px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contacts-subtitle-two {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .contacts__link svg {
    width: 50px;
    height: 50px;
  }

  .contacts__add {
    margin-bottom: 3px;
  }
}
