.events {
  padding-top: 18px;
  padding-bottom: 40px;
}

.events__container {
  display: flex;
  flex-wrap: wrap;
}

.events__title {
  margin-bottom: 16px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 50px;
}

.events__item {
  display: flex;
  flex-shrink: 1;
  width: 33%;

}


.event {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  max-width: 500px;
}

.events__image {
  display: block;
}

.events__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 14px 50px 42px 50px;
  border: 1px solid var(--grey-li);
}

.descr-text {
  max-width: 145px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 10px;
  color: var(--grey);
}

.events-subtitle {
  word-break: break-word;
  margin-bottom: 10px;
}

.events-text {
  margin-bottom: 62px;
}

.events__link {
  position: relative;
  display: inline-block;
  z-index: 10;
  font-size: 16px;
  line-height: 32px;
  margin-top: auto;
  color: var(--violet-two);
  border: none;
  outline: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.events__link::after {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--violet-two);
  transition: transfotm 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.events__link:focus-visible::after {
  background-color: var(--white);
}

.events__link:focus-visible:not(:hover) {
  color: var(--white);
}

.events__link:hover {
  color: var(--violet);
}

.events__link:hover::after {
  background-color: var(--violet);
}

.events__link:active {
  color: var(--dark-grey);
}

.events__link:active::after {
  background-color: var(--dark-grey);
}

.events__link::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 1%;
  left: -7%;
  width: calc(100% + 10px);
  height: calc(100% + 8px);
  background-color: var(--violet);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  transform: matrix(0, 0, 0, 0, 0, 0);
}

.events__link:focus-visible:not(:hover)::before {
  color: var(--white);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.events__span {
  position: relative;
  z-index: 10;
  border: none;
}

.events__span:focus-visible:not(:hover) {
  color: var(--white);
}

@media (max-width: 1700px) {
  .events {
    padding-top: 51px;
    padding-bottom: 34px;
  }


  .events__item {
    width: calc(290 / 924 * 100%);


  }

  .events__list {
    gap: 27px;
  }

  .events__text {
    padding: 14px 33px 48px 33px;
  }

  .events-subtitle {
    margin-bottom: 4px;
  }

  .descr-text {
    max-width: 144px;
    margin-left: auto;
    margin-bottom: 4px;
    text-align: right;
  }

  .events-text {
    margin-bottom: 0px;
  }
}

@media (max-width: 1023px) {
  .events {
    padding-top: 12px;
    padding-bottom: 39px;
  }

  .events__container {
    flex-direction: column;
  }

  .events__list {
    flex-direction: column;
     flex-shrink: 1;
    /* max-width: 668px; */
     width: 100%;
  }

  .event {
    /* max-width: 668px; */
    column-gap: 50px;
    width: 100%;
  }

  .events__item {
    width: 100%;
  }

  .events__item:not(:last-of-type) {
    margin-right: 0;
  }
  .events__image {
    display: inline-flex;
    width: 100%;
  }

  .events-subtitle {
    margin-bottom: 14px;
  }

  .events-text {
    margin-bottom: 54px;
  }
}

@media (max-width: 576px) {
  .events {
    padding-top: 35px;
    padding-bottom: 23px;
  }

  .events__title {
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }


  .events__item {
    width: 100%;
    margin-right: 0;
  }
  .event {
    display: flex;
    column-gap: 20px;
  }

  .events__text {
    padding: 17px 27px 43px 21px;
  }

  .events-subtitle {
    margin-bottom: 5px;
  }

  .descr-text {
    margin-bottom: 10px;
  }

  .events-text {
    margin-bottom: 45px;
  }


}
