@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("open-sans"),
    url("../fonts/open-sans.woff2") format("woff2"),
    url("../fonts/open-sans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("open-sans-semibold"),
    url("../fonts/open-sans-semibold.woff2") format("woff2"),
    url("../fonts/open-sans-semibold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("open-sans-bold"),
    url("../fonts/open-sans-bold.woff2") format("woff2"),
    url("../fonts/open-sans-bold.woff") format("woff");
}