.header {
  min-height: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--black);
  color: var(--white);
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: auto;
}

.header__logo-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 180px;
  flex-shrink: 0;
  width: 173px;
  height: 40px;
}

.header__logo {
  width: 173px;
  height: 40px;
}

.header__nav-bottom {
  width: 100%;
  margin-right: calc(199 / 1600 * 100%);
  margin-left: 0;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 10px 96px;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.header__menu-link {
  position: relative;
  text-align: center;
  outline: none;
  color: var(--white);
  transition: tarnsform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__menu-link:hover:not(:active) {
  color: var(--violet-li);
}

.header__menu-link:active {
  color: var(--violet);
}

.header__span {
  position: relative;
  z-index: 10;
}

.header__menu-link::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 1%;
  left: -7%;
  width: calc(100% + 10px);
  height: calc(100% + 4px);
  background-color: var(--violet);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transform: matrix(0, 0, 0, 0, 0, 0);
}

.header__menu-link:focus-visible:not(:hover):before {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.header__search-btn {
  content: "";
  position: absolute;
  z-index: 1;
  top: 7px;
  right: 50px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 1;
}

.header__search-btn::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  inset: -4px;
  outline: none;
  opacity: 0;
  background-color: var(--violet);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__search-btn:focus-visible:not(:hover, :active):before {
  opacity: 1;
}

.header__search-btn:focus {
  outline: none;
}

.header__search-btn:hover:not(:focus-visible) {
  background-color: transparent;
  outline: none;
}

.header__search-btn:active:not(:focus-visible) {
  background-color: transparent;
  outline: none;
}

.header__search {
  position: relative;
  z-index: 10;
  outline: none;
  fill: var(--white);
  transition: fill 0.3s ease-in-out;
}

.header__search:hover:not(:active) {
  fill: var(--violet-li);
  cursor: pointer;
}

.header__search:active:not(:focus-visible) {
  fill: var(--violet);
}

@media (max-width: 1557px) {
  .header {
    min-height: 147px;
    padding-top: 32px;
    padding-bottom: 25px;
  }

  .header-wrap {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 0;
  }

  .header__logo-top {
    width: 187px;
    height: 42px;
    margin-right: 0;
    margin-bottom: 24px;
  }

  .header__nav-bottom {
    width: 100%;
    margin-right: 0;
  }

  .header__nav {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .header {
    min-height: 147px;
  }

  .header__logo-top {
    margin-bottom: 24px;
  }

  .header__logo {
    width: 187px;
    height: 42px;
  }

  .header__nav-bottom {
    text-align: center;
  }

  .header__search-btn {
    width: 28px;
    height: 28px;
  }
}

@media (max-width: 1023px) {
  .header__menu {
    gap: 10px 44px;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: 142px;
    padding-top: 31px;
    padding-bottom: 25px;
  }

  .header-wrap {
    width: 100%;
    align-items: center;
  }

  .header__logo {
    width: 100%;
    width: 188px;
    height: 42px;
  }

  .header__logo-top {
    width: 188px;
    height: 42px;
    margin-right: auto;
    margin-bottom: 24px;
  }

  .header__menu {
    flex-wrap: nowrap;
    gap: 10px 44px;
    font-weight: 600;
    font-size: 18px;
  }

  .header__search-btn {
    top: 7px;
    right: 49px;
    width: 28px;
    height: 28px;
    margin-right: auto;
  }

  .header__nav {
    overflow-x: auto;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: var(--container-padding-mob);
    padding-right: var(--container-padding-mob);
  }

  .header {
    min-height: 78px;
    padding-top: 16px;
    padding-bottom: 11px;
  }

  .header__logo-top {
    height: 22px;
    margin-bottom: 12px;
  }

  .header__logo {
    width: 97px;
    height: 22px;
  }

  .header__search-btn {
    top: 1px;
    right: 15px;
    width: 18px;
    height: 18px;
  }

  .header__search {
    width: 18px;
    height: 18px;
  }

  .header__menu {
    flex-wrap: nowrap;
    padding-bottom: 1px;
    gap: 10px 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
  }

  .header__nav {
    overflow-x: auto;
  }
}
