.hero {
  padding-top: 146px;
  padding-bottom: 151px;
  background-image: url(../img/hero-1920.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.hero__content {
  display: flex;
  flex-direction: column;
  width: calc(579 / 1600 * 100%);
}

.hero__title {
  font-weight: 700;
  font-size: 72px;
  line-height: 68px;
  margin-bottom: 20px;
  color: var(--white);
}

.hero__descr {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 92px;
  color: var(--white);
}

.hero__btn {
  position: relative;
  display: inline-block;
  max-width: 314px;
  padding: 17px 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  background-color: var(--violet-two);
  color: var(--white);
  border: 3px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.hero__btn::after {
  content: "";
  position: absolute;
  inset: -10px;
  border: 2px solid transparent;
  border-radius: 100px;
  transition: transform 0.3s ease-in-out, brder-color 0.3s ease-in-out;
}

.her__btn:focus {
  outline: none;
}

.hero__btn:focus-visible:not(:active):not(:hover)::after {
  border-color: var(--violet-li);
}

.hero__btn:hover {
  border-color: var(--violet-three);
}

.hero__btn:active {
  background-color: var(--violet);
  border-color: var(--violet-three);
}

@media (max-width: 1378px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 104px;
    background-image: url(../img/hero-1024.jpg);
  }

  .hero__content {
    width: calc(659 / 925 * 100%);
  }

  .hero__descr {
    margin-bottom: 135px;
  }
}

@media (max-width: 768px) {
  .hero {
    padding-top: 87px;
    padding-bottom: 88px;
  }

  .hero__content {
    flex-shrink: 1;
    width: calc(579 / 668 * 100%);
  }
}

@media (max-width: 650px) {
  .hero {
    padding-top: 48px;
    padding-bottom: 48px;
    text-align: center;
  }

  .hero__content {
    /* width: calc(264 / 320 * 100%); */
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .hero__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    margin-bottom: 10px;
  }

  .hero__descr {
    width: calc(264 / 290 * 100%);
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 40px;
  }

  .hero__btn {
    max-width: 200px;
    padding: 10px 14px 12px 17px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-right: auto;
    margin-left: auto;
  }
}
